// Colors
$header-color: #363636;

$span-h-color: #A1A9B0;
$paragraph-color: #8C9398;

$light-bg-color: #F3F5F8;
$dark-bg-color: #242830;

$primary-component-color: #3EC9B3;
$white: #ffff;


$container-width: 65%;
$container-padding: 9rem 0;

$small-margin: 1.5rem;
$btn-padding: 2rem 4rem;

html{
    font-family: 'Varela Round', sans-serif;
    font-size: 62.5%;
}

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}