//Navigation

.main-nav{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: $dark-bg-color;

    position: absolute;    
    transition: all .5s ease-out;

    ul{
    list-style: none; 
    }

    li{
        width: 70vw;
        display: flex;
        justify-content: space-between;
        padding: 2rem 0;
        cursor: pointer;

        &:not(:last-child){
            border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
        }
        
        a, i{
            
            color: rgba(255, 255, 255, 0.6);
        }   
    }

    li:hover a, li:hover i{
        color: $white;
    }
}

// Adding transform property to wrapper 

.wrapper{
    position: relative;
    transform: translateY(0);
    transition: transform .5s ease-out;
}

.wrapper.active{
    transform: translateY(345.8px);
}

// Hero Section

.hero{
    height: 80vh;

    position: relative;
    background-image: url(/img/hero-bg.jpg);
    background-size: cover;

    // Navigation Button
    .nav-btn-container{
        display: flex;
            justify-content: flex-end;
            align-items: center;
        width: 100%;
        height: 50px;

        #nav-btn{
            position: relative;
            height: 35px;
            width: 35px;
            // right: 20px;
            // top: 20px;
            cursor: pointer;
        }

        &__line{
            position: absolute;
            width: 35px;
            height: 5px;

            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            
            background: $header-color;
            border-radius: 5px;
            transition: all .5s ease;
        }
        &__line::after, &__line::before{
            position: absolute;
            content: "";
            height: 5px;
            width: 35px;
            background-color: $header-color;
            border-radius: 5px;
            transition: all .5s ease;
        }

        &__line::after{
            transform: translateY(10px);
        }

        &__line::before{
            transform: translateY(-10px);
        }

        &__line.active{
            transform: rotate(-45deg) translateX(-2px);
        }

        &__line.active::after{
            transform: rotate(90deg);
        }

        &__line.active::before{
            opacity: 0;
        }
    }


    // Hero Content

    &__content{
        width: $container-width;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 6.5rem;

        &-title{
            margin-top: 15rem;
        }

        &-paragraph{
            margin: $small-margin 0;
        }

        &-btn{
            margin-top: 5rem;
            padding: $btn-padding;
            background-color: $primary-component-color;
            border-radius: 5px;
            border-bottom: 3px solid #309383;
            cursor: pointer;
        }

        &-btn:hover{
            background-color: rgba($primary-component-color, .7);
        }
    }
}


// Introduction Section
.introduction{
    background-color: $light-bg-color;
    &__container{
        width: $container-width;
        text-align: center;
        padding: $container-padding;
    }
}

// Features Section

.features{
    &__container{
        width: $container-width;
        padding: $container-padding;
        text-align: center;
    }

    &__cards-container{
        display: flex;
    }

    &__card{
        display: flex;
        flex-direction: column;

        &-icon{
            position: relative;
            width: 17rem;
            height: 17rem;
            background-color: $primary-component-color;
            border-radius: 50%;
            margin: 0 auto 5rem;

            i{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 4rem;
                color: $white;

                text-shadow: rgb(55, 181, 161) 1px 1px, rgb(55, 181, 161) 2px 2px, rgb(55, 181, 161) 3px 3px, rgb(55, 181, 161) 4px 4px, rgb(55, 181, 161) 5px 5px, rgb(55, 181, 161) 6px 6px, rgb(55, 181, 161) 7px 7px, rgb(55, 181, 161) 8px 8px, rgb(55, 181, 161) 9px 9px, rgb(55, 181, 161) 10px 10px, rgb(55, 181, 161) 11px 11px, rgb(55, 181, 161) 12px 12px, rgb(55, 182, 162) 13px 13px, rgb(55, 183, 163) 14px 14px, rgb(56, 184, 164) 15px 15px, rgb(56, 185, 165) 16px 16px, rgb(56, 186, 166) 17px 17px, rgb(57, 187, 167) 18px 18px, rgb(57, 188, 168) 19px 19px, rgb(57, 189, 169) 20px 20px, rgb(58, 191, 170) 21px 21px, rgb(58, 192, 171) 22px 22px, rgb(58, 193, 172) 23px 23px, rgb(59, 194, 173) 24px 24px, rgb(59, 195, 174) 25px 25px, rgb(59, 196, 175) 26px 26px, rgb(60, 197, 176) 27px 27px, rgb(60, 198, 177) 28px 28px, rgb(60, 199, 178) 29px 29px, rgb(61, 201, 179) 30px 30px;
            }
        }
    }
}

// Design section

.design{
    &__top{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        &-img{
            
            background-color: $light-bg-color;
            overflow: hidden;
            flex: 1;
            img{
                transform: translateX(13%);
            }
        }

        &-container{
            flex: 1;
        }
        // TODO fix slider

        &-content{
            display: flex;
            align-items: center;
            margin-left: 8rem;
            text-align: center;

            p{
                margin-top: $small-margin;
            }
        }

        &-slide{
            width: 400px;
        }
    }

    &__bottom{
        width: 100%;
        background: url(/img/plants-bg.jpg);
        background-size: cover;
        background-position: center;

        display: flex;
        flex-direction: column;
        align-items: center;
        h1{
            margin-top: 5rem;
            font-weight: 400;
            color: $white;
        }
        span{
            display: block;
            font-size: 2.5rem;
            letter-spacing: 5px;
            text-transform: uppercase;
            color: white;
            margin-top: $small-margin;
        }

        &-arrow{
            position: relative;
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            background-color: rgba($primary-component-color, .8);
            margin: 5rem 0;
            transition: background-color .2s linear;

            i{
                position: absolute;
                font-size: 2rem;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        &-arrow:hover{
            background-color: $primary-component-color;
        }
    }
}