h1,h2,h3{
    color: $header-color;
}

h1{
    font-size: 4rem;
    letter-spacing: 1.2rem;
    text-transform: uppercase;
}

h1 span{
    color: $span-h-color;
}

h2, h3{
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 1.2rem 0;
    letter-spacing: 1px;
}

h2{
    padding-bottom: 3rem;
}

h2:after{
    display: block;
    content: url(/img/h1-bg.png);
    text-align: center;
    width: 100%;
    margin-top: 1.5rem;
}
h3::after{
    content: "";
    display: block;
    width: 3.5rem;
    border: 2px solid $primary-component-color;
    background-color: $primary-component-color;
    margin: 2.5rem auto;
}

p{
    font-size: 1.4rem;
    line-height: 2.5rem;
    color: $paragraph-color;
    letter-spacing: 1px;
}
a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.4rem;
    color: $white;
    letter-spacing: 1px;
}