html {
  font-family: 'Varela Round', sans-serif;
  font-size: 62.5%;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3 {
  color: #363636;
}

h1 {
  font-size: 4rem;
  letter-spacing: 1.2rem;
  text-transform: uppercase;
}

h1 span {
  color: #A1A9B0;
}

h2, h3 {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 1rem 0;
  padding-bottom: 3rem;
}

h2:after {
  display: block;
  content: url(/img/h1-bg.png);
  text-align: center;
  width: 100%;
  margin-top: 5px;
}

h3::after {
  content: "";
  display: block;
  width: 3.5rem;
  border: 2px solid #3EC9B3;
  background-color: #3EC9B3;
  margin: 2.5px auto;
}

p {
  font-size: 1.4rem;
  line-height: 2.5rem;
  color: #8C9398;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.4rem;
  color: #ffff;
}

header, section, footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background-color: #242830;
  position: absolute;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.main-nav ul {
  list-style: none;
}

.main-nav li {
  width: 70vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 0;
  cursor: pointer;
}

.main-nav li:not(:last-child) {
  border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
}

.main-nav li a, .main-nav li i {
  color: rgba(255, 255, 255, 0.6);
}

.main-nav li:hover a, .main-nav li:hover i {
  color: #ffff;
}

.wrapper {
  position: relative;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform .5s ease-out;
  transition: -webkit-transform .5s ease-out;
  transition: transform .5s ease-out;
  transition: transform .5s ease-out, -webkit-transform .5s ease-out;
}

.wrapper.active {
  -webkit-transform: translateY(345.8px);
          transform: translateY(345.8px);
}

.hero {
  height: 80vh;
  position: relative;
  background-image: url(/img/hero-bg.jpg);
  background-size: cover;
}

.hero .nav-btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50px;
}

.hero .nav-btn-container #nav-btn {
  position: relative;
  height: 35px;
  width: 35px;
  cursor: pointer;
}

.hero .nav-btn-container__line {
  position: absolute;
  width: 35px;
  height: 5px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #363636;
  border-radius: 5px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.hero .nav-btn-container__line::after, .hero .nav-btn-container__line::before {
  position: absolute;
  content: "";
  height: 5px;
  width: 35px;
  background-color: #363636;
  border-radius: 5px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.hero .nav-btn-container__line::after {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.hero .nav-btn-container__line::before {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.hero .nav-btn-container__line.active {
  -webkit-transform: rotate(-45deg) translateX(-2px);
          transform: rotate(-45deg) translateX(-2px);
}

.hero .nav-btn-container__line.active::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.hero .nav-btn-container__line.active::before {
  opacity: 0;
}

.hero__content {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 6.5rem;
}

.hero__content-title {
  margin-top: 15rem;
}

.hero__content-paragraph {
  margin: 1.5rem 0;
}

.hero__content-btn {
  margin-top: 5rem;
  padding: 2rem 4rem;
  background-color: #3EC9B3;
  border-radius: 5px;
  border-bottom: 3px solid #309383;
  cursor: pointer;
}

.hero__content-btn:hover {
  background-color: rgba(62, 201, 179, 0.7);
}

.introduction__container {
  width: 65%;
  text-align: center;
  padding: 9rem 0;
}
/*# sourceMappingURL=main.css.map */