html {
  font-family: 'Varela Round', sans-serif;
  font-size: 62.5%;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3 {
  color: #363636;
}

h1 {
  font-size: 4rem;
  letter-spacing: 1.2rem;
  text-transform: uppercase;
}

h1 span {
  color: #A1A9B0;
}

h2, h3 {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 1.2rem 0;
  letter-spacing: 1px;
}

h2 {
  padding-bottom: 3rem;
}

h2:after {
  display: block;
  content: url(/img/h1-bg.png);
  text-align: center;
  width: 100%;
  margin-top: 1.5rem;
}

h3::after {
  content: "";
  display: block;
  width: 3.5rem;
  border: 2px solid #3EC9B3;
  background-color: #3EC9B3;
  margin: 2.5rem auto;
}

p {
  font-size: 1.4rem;
  line-height: 2.5rem;
  color: #8C9398;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.4rem;
  color: #ffff;
  letter-spacing: 1px;
}

header, section, footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background-color: #242830;
  position: absolute;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.main-nav ul {
  list-style: none;
}

.main-nav li {
  width: 70vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 0;
  cursor: pointer;
}

.main-nav li:not(:last-child) {
  border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
}

.main-nav li a, .main-nav li i {
  color: rgba(255, 255, 255, 0.6);
}

.main-nav li:hover a, .main-nav li:hover i {
  color: #ffff;
}

.wrapper {
  position: relative;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform .5s ease-out;
  transition: -webkit-transform .5s ease-out;
  transition: transform .5s ease-out;
  transition: transform .5s ease-out, -webkit-transform .5s ease-out;
}

.wrapper.active {
  -webkit-transform: translateY(345.8px);
          transform: translateY(345.8px);
}

.hero {
  height: 80vh;
  position: relative;
  background-image: url(/img/hero-bg.jpg);
  background-size: cover;
}

.hero .nav-btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50px;
}

.hero .nav-btn-container #nav-btn {
  position: relative;
  height: 35px;
  width: 35px;
  cursor: pointer;
}

.hero .nav-btn-container__line {
  position: absolute;
  width: 35px;
  height: 5px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #363636;
  border-radius: 5px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.hero .nav-btn-container__line::after, .hero .nav-btn-container__line::before {
  position: absolute;
  content: "";
  height: 5px;
  width: 35px;
  background-color: #363636;
  border-radius: 5px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.hero .nav-btn-container__line::after {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.hero .nav-btn-container__line::before {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.hero .nav-btn-container__line.active {
  -webkit-transform: rotate(-45deg) translateX(-2px);
          transform: rotate(-45deg) translateX(-2px);
}

.hero .nav-btn-container__line.active::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.hero .nav-btn-container__line.active::before {
  opacity: 0;
}

.hero__content {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 6.5rem;
}

.hero__content-title {
  margin-top: 15rem;
}

.hero__content-paragraph {
  margin: 1.5rem 0;
}

.hero__content-btn {
  margin-top: 5rem;
  padding: 2rem 4rem;
  background-color: #3EC9B3;
  border-radius: 5px;
  border-bottom: 3px solid #309383;
  cursor: pointer;
}

.hero__content-btn:hover {
  background-color: rgba(62, 201, 179, 0.7);
}

.introduction {
  background-color: #F3F5F8;
}

.introduction__container {
  width: 65%;
  text-align: center;
  padding: 9rem 0;
}

.features__container {
  width: 65%;
  padding: 9rem 0;
  text-align: center;
}

.features__cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.features__card-icon {
  position: relative;
  width: 17rem;
  height: 17rem;
  background-color: #3EC9B3;
  border-radius: 50%;
  margin: 0 auto 5rem;
}

.features__card-icon i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 4rem;
  color: #ffff;
  text-shadow: #37b5a1 1px 1px, #37b5a1 2px 2px, #37b5a1 3px 3px, #37b5a1 4px 4px, #37b5a1 5px 5px, #37b5a1 6px 6px, #37b5a1 7px 7px, #37b5a1 8px 8px, #37b5a1 9px 9px, #37b5a1 10px 10px, #37b5a1 11px 11px, #37b5a1 12px 12px, #37b6a2 13px 13px, #37b7a3 14px 14px, #38b8a4 15px 15px, #38b9a5 16px 16px, #38baa6 17px 17px, #39bba7 18px 18px, #39bca8 19px 19px, #39bda9 20px 20px, #3abfaa 21px 21px, #3ac0ab 22px 22px, #3ac1ac 23px 23px, #3bc2ad 24px 24px, #3bc3ae 25px 25px, #3bc4af 26px 26px, #3cc5b0 27px 27px, #3cc6b1 28px 28px, #3cc7b2 29px 29px, #3dc9b3 30px 30px;
}

.design__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.design__top-img {
  background-color: #F3F5F8;
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.design__top-img img {
  -webkit-transform: translateX(13%);
          transform: translateX(13%);
}

.design__top-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.design__top-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 8rem;
  text-align: center;
}

.design__top-content p {
  margin-top: 1.5rem;
}

.design__top-slide {
  width: 400px;
}

.design__bottom {
  width: 100%;
  background: url(/img/plants-bg.jpg);
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.design__bottom h1 {
  margin-top: 5rem;
  font-weight: 400;
  color: #ffff;
}

.design__bottom span {
  display: block;
  font-size: 2.5rem;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: white;
  margin-top: 1.5rem;
}

.design__bottom-arrow {
  position: relative;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: rgba(62, 201, 179, 0.8);
  margin: 5rem 0;
  -webkit-transition: background-color .2s linear;
  transition: background-color .2s linear;
}

.design__bottom-arrow i {
  position: absolute;
  font-size: 2rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.design__bottom-arrow:hover {
  background-color: #3EC9B3;
}
/*# sourceMappingURL=main.css.map */